.top-margin {
  margin-top: 3rem;
}
.center-align {
  display: flex;
  justify-content: center;
}
.add-note {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: relative;
}
.border {
  border: 1.5px solid var(--COLOR-PRIMARY);
}
.input-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.border-note {
  border: 1px solid var(--COLOR-BLACK);
}
.input-margin {
  margin: 7px;
}
.pd-md {
  padding: 2rem 0 5px 2rem;
}
.sm-pd {
  padding: 5px;
}
.border-note:focus {
  outline: none;
}
.no-border {
  border: 0;
}
.no-border:focus {
  outline: none;
}
.title-input {
  width: 19vw;
  max-height: 9vh;
}
.tags {
  width: 16vw;
  max-height: 9vh;
}
.priority {
  width: 16vw;
  max-height: 9vh;
}
.save-btn {
  width: 10%;
  padding: 5px;
  background-color: var(--COLOR-WHITE);
  font-size: 1.5rem;
  margin: 8px;
  border-radius: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.save-btn:hover {
  background-color: var(--COLOR-SECONDARY);
}
.note-button-style {
  font-weight: 700;
  width: 15rem;
  padding: 1rem;
  border: 0;
  background-color: var(--darkerofseconadary);
}
.note-button-style:hover {
  box-shadow: 0 2px 5px 0 var(--BOX-SHADOW-LIGHTER);
  cursor: pointer;
}
.color-pallete {
  margin: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.note-footer {
  position: relative;
}
.color-container {
  position: absolute;
  background-color: var(--COLOR-WHITE);
  min-width: 21vw;
  height: 9vh;
  display: flex;
  align-items: center;

  gap: 1rem;
  padding: 1rem 1rem;
  box-shadow: 0 2px 5px 0 var(--BOX-SHADOW-LIGHTER);
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.color-container-row {
  display: flex;
  gap: 1rem;
}

.color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
